.main{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
    /* background-color: yellowgreen; */
}
/* balance info */
.balance_info{

    margin-left: 40px;
    padding: 10px;
    }
.balance_info p{
    margin-bottom: 10px;
    
}
.balance_info strong{
    font-size: 1.5em;
    
}

.expense_area{
    display: flex;
    justify-content:center;

}