.newExpense{
    box-shadow: 0px 0px 26px -17px black;
    height: 60vh;
    width: 30vw;
    border-radius: 12px;
    /* border: 1px solid black; */
    margin:0px  30px;
    padding: 5px;
}
.income-expense{
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
    display: flex;
    margin: 5px 0px;
    justify-content: space-around;
}

.income-expense .income{
    text-align: center;
    width: 50%;
    border-right: 1px currentColor solid;
    color: blue;
}
.income-expense .expense{
    text-align: center;
    width: 50%;
    color: red;
}
input[type=number],input[type=text],button{
    padding: 5px 10px;
    
    width: 80%;
    height: 7vh;
    font-size: 20px;
    outline: none;
    border: 2px solid blue;
    border-radius: 10px;
    margin: 10px 40px 10px 40px;
}
button{
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}
.options{
    width: 100%;
    text-align: center;
}
.options input,label{
    font-size: 1.3em;
    margin:20px 10px;
}

